
*{
    margin: 0;
    padding: 0;
}
li{
 list-style: none;
 color: #fff;
 text-align: center;
 margin-top: 10px;
 margin-bottom: 10px;
 padding: 10px;
}
li:hover{
    background-color: rgb(252, 66, 66);
    cursor: pointer;
}
.optionTwo{
    background-color: rgb(31, 28, 28);
    left: 450px;
}
.option{
    background-color: rgb(31, 28, 28);
    left: 50px;

}
.seconddDiv{
    width:220px;
    overflow: hidden;
}
.thirdDiv{
    width:220px;
    overflow: hidden;
}
.firstDiv{
    display: flex;
    overflow: hidden;
}
