.bars{
    position: absolute;
    top: 20px;
    left: 20px;
    height: 20px;
    width: 25px;
    text-align: center;
    background: #3a3939;
    border-radius: 25%;
    border: 1px solid rgba(198, 199, 196, 0.199);
    outline: none;
    cursor: pointer;
    color: white;
    padding-top: 4px;
}
.hey{
    color: white;
}
.clicked{
    color: white;
    font-size: 150px;
    text-align: center;
    margin-top: 4px;
}